<main class="flex flex-col mx-auto my-4 px-2 sm:px-1 sm:max-w-[60rem]">
  <%= link_to sanitize("&larr; Back to quote"), quote_path(@quote) %>
  <div class="flex justify-between gap-3 mt-4 mb-6 flex-wrap sm:mb-8">
    <h1>Edit quote</h1>
  </div>
  <%= turbo_frame_tag @quote do %>
    <%= render "form", quote: @quote %>
  <% end %>
</main>
