@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Montserrat', sans-serif;
}

.turbo-progress-bar {
  background: linear-gradient(to right, #d52a47, #df5134);
}
