<header class="flex items-center px-2 gap-2 bg-[#eee]">
  <% if user_signed_in? %>
    <div class="mr-auto font-bold">
      <%= current_company.name %>
    </div>
    <div class="ml-auto font-bold">
      <%= current_user.name %>
    </div>
    <%= button_to "Sign out",
                  destroy_user_session_path,
                  method: :delete,
                  class: "border-2 border-black px-1 inline-block py-1 rounded-md bg-origin-border bg-transparent
    border-2 border-black p-5 m-2 font-bold no-underline cursor-pointer
    hover:shadow-[0_0_20px_#eee] hover:text-red-600 hover:bg-[right_center] focus:text-red-600 active:text-red-600
                       rounded-[10px] transition-all duration-500" %>
  <% else %>
    <%= link_to "Sign in",
                new_user_session_path,
                class: "inline-block py-1 rounded-md bg-origin-border bg-transparent
    border-2 border-black p-5 m-2 font-bold no-underline cursor-pointer
    hover:shadow-[0_0_20px_#eee] hover:text-blue-600 hover:bg-[right_center] focus:text-blue-600 active:text-blue-600
                       rounded-[10px] transition-all duration-500" %>
  <% end %>
</header>
